In [3]:
import pandas as pd
import pandasql as ps

In [4]:
# URL_DATA='https://cloud.minsa.gob.pe/s/ZgXoXqK2KLjRLxD/download'
# df=pd.read_html(URL_DATA)

df=pd.read_csv('../vacunas_covid.csv')
print(df)

         FECHA_CORTE                              UUID       GRUPO_RIESGO  \
0           20210419  c7ba6f9424c59a543e8803495c1061db  PERSONAL DE SALUD
1           20210419  c7ba6f9424c59a543e8803495c1061db  PERSONAL DE SALUD
2           20210419  51ffbe83478f1e64da17fe2756a9594b  PERSONAL DE SALUD
3           20210419  51ffbe83478f1e64da17fe2756a9594b  PERSONAL DE SALUD
4           20210419  54048fe3b06c35f14350d7e81340bdbd  PERSONAL DE SALUD
...              ...                               ...                ...
1284551     20210419  e6c3a0b5cf57c44ce1daed4b19c42dc1       ADULTO MAYOR
1284552     20210419  3b45258f407c0515e3c7466bc89e7a7a       ADULTO MAYOR
1284553     20210419  551c80e11c4210718fd0fee8774a5dca       ADULTO MAYOR
1284554     20210419  f20fb7a2935be9a1eec2aa2a6b19ad23       ADULTO MAYOR
1284555     20210419  d8c61680271ae34cbb53b648c14d5569       ADULTO MAYOR

         EDAD       SEXO  FECHA_VACUNACION  DOSIS FABRICANTE      DIRESA  \
0        39.0  MASCULINO          20210225      1  SINOPHARM  LAMBAYEQUE
1        39.0  MASCULINO          20210318      2  SINOPHARM  LAMBAYEQUE
2        37.0   FEMENINO          20210219      1  SINOPHARM  LAMBAYEQUE
3        37.0   FEMENINO          20210312      2  SINOPHARM  LAMBAYEQUE
4        44.0  MASCULINO          20210220      1  SINOPHARM  LAMBAYEQUE
...       ...        ...               ...    ...        ...         ...
1284551  92.0  MASCULINO          20210419      1     PFIZER    LIMA SUR
1284552  81.0   FEMENINO          20210419      1     PFIZER    LIMA SUR
1284553  81.0  MASCULINO          20210419      1     PFIZER    LIMA SUR
1284554  82.0   FEMENINO          20210419      1     PFIZER    LIMA SUR
1284555  85.0   FEMENINO          20210419      1     PFIZER    LIMA SUR

        DEPARTAMENTO PROVINCIA                DISTRITO
0         LAMBAYEQUE  CHICLAYO                CHICLAYO
1         LAMBAYEQUE  CHICLAYO                CHICLAYO
2         LAMBAYEQUE  CHICLAYO     JOSE LEONARDO ORTIZ
3         LAMBAYEQUE  CHICLAYO     JOSE LEONARDO ORTIZ
4         LAMBAYEQUE  CHICLAYO     JOSE LEONARDO ORTIZ
...              ...       ...                     ...
1284551         LIMA      LIMA  SAN JUAN DE MIRAFLORES
1284552         LIMA      LIMA  SAN JUAN DE MIRAFLORES
1284553         LIMA      LIMA  SAN JUAN DE MIRAFLORES
1284554         LIMA      LIMA  SAN JUAN DE MIRAFLORES
1284555         LIMA      LIMA  SAN JUAN DE MIRAFLORES

[1284556 rows x 12 columns]

In [5]:
# Delete all not wanted columns
df.drop(['UUID', 'GRUPO_RIESGO', 'EDAD','SEXO','FABRICANTE','DIRESA','PROVINCIA','DISTRITO'], axis=1, inplace=True)

In [7]:
df

         FECHA_CORTE  FECHA_VACUNACION  DOSIS DEPARTAMENTO
0           20210419          20210225      1   LAMBAYEQUE
1           20210419          20210318      2   LAMBAYEQUE
2           20210419          20210219      1   LAMBAYEQUE
3           20210419          20210312      2   LAMBAYEQUE
4           20210419          20210220      1   LAMBAYEQUE
...              ...               ...    ...          ...
1284551     20210419          20210419      1         LIMA
1284552     20210419          20210419      1         LIMA
1284553     20210419          20210419      1         LIMA
1284554     20210419          20210419      1         LIMA
1284555     20210419          20210419      1         LIMA

[1284556 rows x 4 columns]

In [8]:
# Please write the full query on one line
# ACUMULADO DOSIS 1
query_dosis1="""select FECHA_CORTE, FECHA_VACUNACION, DOSIS, count (rowid) as TOTAL, sum(count (rowid)) over (order by FECHA_VACUNACION) as ACUMULADO from df where "DOSIS" = 1 group by FECHA_VACUNACION """
result_query_dosis1=ps.sqldf(query_dosis1,locals())
print(ps.sqldf(query_dosis1,locals()))

    FECHA_CORTE  FECHA_VACUNACION  DOSIS  TOTAL  ACUMULADO
0      20210419          20210209      1   3844       3844
1      20210419          20210210      1  16585      20429
2      20210419          20210211      1  33852      54281
3      20210419          20210212      1  32358      86639
4      20210419          20210213      1  18924     105563
..          ...               ...    ...    ...        ...
65     20210419          20210415      1    217     686949
66     20210419          20210416      1  13454     700403
67     20210419          20210417      1  21625     722028
68     20210419          20210418      1  20527     742555
69     20210419          20210419      1   3979     746534

[70 rows x 5 columns]

In [14]:
# Please write the full query on one line
# ACUMULADO DOSIS 2
query_dosis2="""select FECHA_CORTE, FECHA_VACUNACION, DOSIS, count (rowid) as TOTAL, sum(count (rowid)) over (order by FECHA_VACUNACION) as ACUMULADO from df where "DOSIS" = 2 group by FECHA_VACUNACION"""
result_query_dosis2=ps.sqldf(query_dosis2,locals())
print(ps.sqldf(query_dosis2,locals()))

    FECHA_CORTE  FECHA_VACUNACION  DOSIS  TOTAL  ACUMULADO
0      20210407          20210302      2   1623       1623
1      20210407          20210303      2  10991      12614
2      20210407          20210304      2  25894      38508
3      20210407          20210305      2  28817      67325
4      20210407          20210306      2  14015      81340
5      20210407          20210307      2   1970      83310
6      20210407          20210308      2  10461      93771
7      20210407          20210309      2   6091      99862
8      20210407          20210310      2   4455     104317
9      20210407          20210311      2   4648     108965
10     20210407          20210312      2  14276     123241
11     20210407          20210313      2  25390     148631
12     20210407          20210314      2   2536     151167
13     20210407          20210315      2  23680     174847
14     20210407          20210316      2  21079     195926
15     20210407          20210317      2  20169     216095
16     20210407          20210318      2  14251     230346
17     20210407          20210319      2  14373     244719
18     20210407          20210320      2   5135     249854
19     20210407          20210321      2   1008     250862
20     20210407          20210322      2   7153     258015
21     20210407          20210323      2   6270     264285
22     20210407          20210324      2   5654     269939
23     20210407          20210325      2   3605     273544
24     20210407          20210326      2   3529     277073
25     20210407          20210327      2   2527     279600
26     20210407          20210328      2    176     279776
27     20210407          20210329      2   9866     289642
28     20210407          20210330      2  11556     301198
29     20210407          20210331      2  10931     312129
30     20210407          20210401      2   3325     315454
31     20210407          20210402      2   2440     317894
32     20210407          20210403      2   5260     323154
33     20210407          20210404      2    412     323566
34     20210407          20210405      2   5390     328956
35     20210407          20210406      2   6563     335519
36     20210407          20210407      2   9774     345293

In [9]:
# Please write the full query on one line
# ACUMULADO DEPARTAMENTOS
query_departamentos="""select FECHA_CORTE, DEPARTAMENTO, count (case when DOSIS = 1 then 1 end) as DOSIS1, count (case when DOSIS = 2 then 1 end) as DOSIS2 from df group by DEPARTAMENTO"""
result_query_departamentos=ps.sqldf(query_departamentos,locals())
print(ps.sqldf(query_departamentos,locals()))

    FECHA_CORTE   DEPARTAMENTO  DOSIS1  DOSIS2
0      20210419       AMAZONAS    5933    4904
1      20210419         ANCASH   18757   14029
2      20210419       APURIMAC    7786    6919
3      20210419       AREQUIPA   33865   31068
4      20210419       AYACUCHO    9559    7998
5      20210419      CAJAMARCA   14426   12045
6      20210419         CALLAO   70856   48509
7      20210419          CUSCO   14355   12251
8      20210419   HUANCAVELICA    6158    5403
9      20210419        HUANUCO    9658    8199
10     20210419            ICA   18429   11471
11     20210419          JUNIN   18217   14229
12     20210419    LA LIBERTAD   29170   25874
13     20210419     LAMBAYEQUE   14276   12861
14     20210419           LIMA  381085  248506
15     20210419         LORETO   16093   13182
16     20210419  MADRE DE DIOS    2479    2013
17     20210419       MOQUEGUA    5017    3974
18     20210419          PASCO    3663    3400
19     20210419          PIURA   21137   15439
20     20210419           PUNO   11855    9173
21     20210419     SAN MARTIN   14455   12948
22     20210419          TACNA    7705    4777
23     20210419         TUMBES    5250    3862
24     20210419        UCAYALI    6350    4988

In [12]:
col_poblacion=[379384,
1083519,
405759,
1382730,
616176,
1341012,
994494,
1205527,
347639,
721047,
850765,
1246038,
1778080,
1197260,
9485405,
883510,
141070,
174863,
254065,
1856809,
1172697,
813381,
329332,
224863,
496459]

In [13]:
result_query_departamentos['POBLACION']=col_poblacion

In [27]:
result_query_departamentos['INDICE1']=round(result_query_departamentos['DOSIS1']/(result_query_departamentos['POBLACION']/100000)).astype('int')
result_query_departamentos['INDICE2']=round(result_query_departamentos['DOSIS2']/(result_query_departamentos['POBLACION']/100000)).astype('int')

In [28]:
result_query_departamentos

    FECHA_CORTE   DEPARTAMENTO  DOSIS1  DOSIS2  POBLACION  INDICE1  INDICE2
0      20210419       AMAZONAS    5933    4904     379384     1564     1293
1      20210419         ANCASH   18757   14029    1083519     1731     1295
2      20210419       APURIMAC    7786    6919     405759     1919     1705
3      20210419       AREQUIPA   33865   31068    1382730     2449     2247
4      20210419       AYACUCHO    9559    7998     616176     1551     1298
5      20210419      CAJAMARCA   14426   12045    1341012     1076      898
6      20210419         CALLAO   70856   48509     994494     7125     4878
7      20210419          CUSCO   14355   12251    1205527     1191     1016
8      20210419   HUANCAVELICA    6158    5403     347639     1771     1554
9      20210419        HUANUCO    9658    8199     721047     1339     1137
10     20210419            ICA   18429   11471     850765     2166     1348
11     20210419          JUNIN   18217   14229    1246038     1462     1142
12     20210419    LA LIBERTAD   29170   25874    1778080     1641     1455
13     20210419     LAMBAYEQUE   14276   12861    1197260     1192     1074
14     20210419           LIMA  381085  248506    9485405     4018     2620
15     20210419         LORETO   16093   13182     883510     1821     1492
16     20210419  MADRE DE DIOS    2479    2013     141070     1757     1427
17     20210419       MOQUEGUA    5017    3974     174863     2869     2273
18     20210419          PASCO    3663    3400     254065     1442     1338
19     20210419          PIURA   21137   15439    1856809     1138      831
20     20210419           PUNO   11855    9173    1172697     1011      782
21     20210419     SAN MARTIN   14455   12948     813381     1777     1592
22     20210419          TACNA    7705    4777     329332     2340     1451
23     20210419         TUMBES    5250    3862     224863     2335     1717
24     20210419        UCAYALI    6350    4988     496459     1279     1005

In [18]:
result_query_dosis1.to_csv('../resultados/dosis1.csv')
result_query_dosis2.to_csv('../resultados/dosis2.csv')
result_query_departamentos.to_csv('../resultados/departamentos.csv')

In [19]:
print('Anna Bananna----------------------------------------------')

Anna Bananna----------------------------------------------