In [34]:
import numpy as np
import pandas as pd
import zipfile
from urllib.request import urlopen, Request
import io
from datetime import date, timedelta

In [8]:
req = Request('https://cloud.minsa.gob.pe/s/NctBnHXDnocgWAg/download')
req.add_header('User-Agent', 'Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:77.0) Gecko/20100101 Firefox/77.0')

# open and save the zip file onto computer
#url = urlopen(req)

file =zipfile.ZipFile((io.BytesIO(urlopen(req).read())))
file_name = file.namelist()[1]
#file_name
xls = pd.read_excel(file.open(file_name).read(), engine='openpyxl', index_col=0)  # <-- add .read()
xls

,TIPO SEGURO,SEXO,EDAD,TIEMPO EDAD,ESTADO CIVIL,NIVEL DE INSTRUCCIÓN,COD# UBIGEO DOMICILIO,PAIS DOMICILIO,DEPARTAMENTO DOMICILIO,PROVINCIA DOMICILIO,...,DEBIDO A (CAUSA B),CAUSA B (CIE-X),DEBIDO A (CAUSA C),CAUSA C (CIE-X),DEBIDO A (CAUSA D),CAUSA D (CIE-X),DEBIDO A (CAUSA E),CAUSA E (CIE-X),DEBIDO A (CAUSA F),CAUSA F (CIE-X)
Nº,,,,,,,,,,,,,,,,,,,,,
1,SIS,FEMENINO,15,MINUTOS,SOLTERO,SUPERIOR NO UNIV. COMP.,92-33-12-08-06-000,PERU,LA LIBERTAD,ASCOPE,...,DIFICULTAD RESPIRATORIA DEL RECIEN NACIDO,P229,INMATURIDAD EXTREMA,P072,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO
2,SIS,MASCULINO,4,AÑOS,SOLTERO,IGNORADO,92-33-21-04-01-000,PERU,SAN MARTIN,MARISCAL CACERES,...,NEUMONIA SEVERA,J159,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,PARALISIS CEREBRAL INFANTIL,G809,SIN REGISTRO,SIN REGISTRO
3,SIS,FEMENINO,86,AÑOS,SOLTERO,PRIMARIA INCOMPLETA,92-33-21-03-13-000,PERU,SAN MARTIN,LAMAS,...,HIPERLIPIDEMIA NO ESPECIFICADA,E785,ATEROSCLEROSIS GENERALIZADA Y LA NO ESPECIFICADA,I709,HIPERTENSION ESENCIAL,I10X,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO
4,IGNORADO,MASCULINO,59,AÑOS,SOLTERO,IGNORADO,92-33-24-01-01-000,PERU,CALLAO,CALLAO,...,SHOCK HIPOVOLEMICO,SIN REGISTRO,SUCESO DE TRANSITO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO
5,SIS,MASCULINO,51,AÑOS,SOLTERO,SUPERIOR NO UNIV. COMP.,92-33-14-10-01-106,PERU,LIMA,OYON,...,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697933,SIS,MASCULINO,77,AÑOS,CASADO,NINGUN NIVEL / ILETRADO,92-33-05-07-02-101,PERU,AYACUCHO,VICTOR FAJARDO,...,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO
697934,SIS,FEMENINO,86,AÑOS,SOLTERO,NINGUN NIVEL / ILETRADO,92-33-05-04-03-101,PERU,AYACUCHO,LA MAR,...,ESTADO ASMATICO. ASMA AGUDA SEVERA.,J46X,ASMA NO ESPECIFICADO. ASMA DE APARICION TARDIA...,J459,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO
697935,SIS,MASCULINO,63,AÑOS,SOLTERO,NINGUN NIVEL / ILETRADO,92-33-02-10-03-102,PERU,ANCASH,PALLASCA,...,CAIDA POR DESLIZAMIENTO EN CALLES,W014,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO
697936,SIS,FEMENINO,78,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-02-10-10-000,PERU,ANCASH,PALLASCA,...,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO
697937,SIS,MASCULINO,1,AÑOS,SOLTERO,NINGUN NIVEL / ILETRADO,92-33-01-04-04-000,PERU,AMAZONAS,LUYA,...,HIDROCEFALIA CONGENITA,P835,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO

In [9]:
for col in xls.columns: 
    print(col)

TIPO SEGURO
SEXO
EDAD
TIEMPO EDAD
ESTADO CIVIL
NIVEL DE INSTRUCCIÓN
COD# UBIGEO DOMICILIO
PAIS DOMICILIO
DEPARTAMENTO DOMICILIO
PROVINCIA DOMICILIO
DISTRITO DOMICILIO
FECHA
AÑO
MES
TIPO LUGAR
INSTITUCION
MUERTE VIOLENTA
NECROPSIA
DEBIDO A (CAUSA A)
CAUSA A (CIE-X)
DEBIDO A (CAUSA B)
CAUSA B (CIE-X)
DEBIDO A (CAUSA C)
CAUSA C (CIE-X)
DEBIDO A (CAUSA D)
CAUSA D (CIE-X)
DEBIDO A (CAUSA E)
CAUSA E (CIE-X)
DEBIDO A (CAUSA F)
CAUSA F (CIE-X)

In [10]:
xls.isnull().sum()

TIPO SEGURO               0
SEXO                      0
EDAD                      0
TIEMPO EDAD               0
ESTADO CIVIL              0
NIVEL DE INSTRUCCIÓN      0
COD# UBIGEO DOMICILIO     0
PAIS DOMICILIO            0
DEPARTAMENTO DOMICILIO    0
PROVINCIA DOMICILIO       0
DISTRITO DOMICILIO        0
FECHA                     0
AÑO                       0
MES                       0
TIPO LUGAR                0
INSTITUCION               0
MUERTE VIOLENTA           0
NECROPSIA                 0
DEBIDO A (CAUSA A)        0
CAUSA A (CIE-X)           0
DEBIDO A (CAUSA B)        0
CAUSA B (CIE-X)           0
DEBIDO A (CAUSA C)        0
CAUSA C (CIE-X)           0
DEBIDO A (CAUSA D)        0
CAUSA D (CIE-X)           0
DEBIDO A (CAUSA E)        0
CAUSA E (CIE-X)           0
DEBIDO A (CAUSA F)        0
CAUSA F (CIE-X)           0
dtype: int64

In [11]:
xls.drop(['DEBIDO A (CAUSA A)','CAUSA A (CIE-X)', 'DEBIDO A (CAUSA B)', 'CAUSA B (CIE-X)', 'DEBIDO A (CAUSA C)', 'CAUSA C (CIE-X)', 'DEBIDO A (CAUSA D)', 'CAUSA D (CIE-X)', 'DEBIDO A (CAUSA E)', 'CAUSA E (CIE-X)', 'DEBIDO A (CAUSA F)','CAUSA F (CIE-X)'], axis=1, inplace=True)

In [12]:
xls

,TIPO SEGURO,SEXO,EDAD,TIEMPO EDAD,ESTADO CIVIL,NIVEL DE INSTRUCCIÓN,COD# UBIGEO DOMICILIO,PAIS DOMICILIO,DEPARTAMENTO DOMICILIO,PROVINCIA DOMICILIO,DISTRITO DOMICILIO,FECHA,AÑO,MES,TIPO LUGAR,INSTITUCION,MUERTE VIOLENTA,NECROPSIA
Nº,,,,,,,,,,,,,,,,,,
1,SIS,FEMENINO,15,MINUTOS,SOLTERO,SUPERIOR NO UNIV. COMP.,92-33-12-08-06-000,PERU,LA LIBERTAD,ASCOPE,PAIJAN,2021-01-19,2021,1,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
2,SIS,MASCULINO,4,AÑOS,SOLTERO,IGNORADO,92-33-21-04-01-000,PERU,SAN MARTIN,MARISCAL CACERES,JUANJUI,2020-01-17,2020,1,EESS,GOBIERNO REGIONAL,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
3,SIS,FEMENINO,86,AÑOS,SOLTERO,PRIMARIA INCOMPLETA,92-33-21-03-13-000,PERU,SAN MARTIN,LAMAS,TABALOSOS,2020-01-03,2020,1,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
4,IGNORADO,MASCULINO,59,AÑOS,SOLTERO,IGNORADO,92-33-24-01-01-000,PERU,CALLAO,CALLAO,CALLAO,2021-01-30,2021,1,VIA PUBLICA,SIN REGISTRO,NO SE CONOCE,SI SE REALIZÓ NECROPSIA
5,SIS,MASCULINO,51,AÑOS,SOLTERO,SUPERIOR NO UNIV. COMP.,92-33-14-10-01-106,PERU,LIMA,OYON,OYON,2021-01-10,2021,1,VIA PUBLICA,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697933,SIS,MASCULINO,77,AÑOS,CASADO,NINGUN NIVEL / ILETRADO,92-33-05-07-02-101,PERU,AYACUCHO,VICTOR FAJARDO,ALCAMENCA,2020-12-07,2020,12,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
697934,SIS,FEMENINO,86,AÑOS,SOLTERO,NINGUN NIVEL / ILETRADO,92-33-05-04-03-101,PERU,AYACUCHO,LA MAR,AYNA,2020-12-17,2020,12,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
697935,SIS,MASCULINO,63,AÑOS,SOLTERO,NINGUN NIVEL / ILETRADO,92-33-02-10-03-102,PERU,ANCASH,PALLASCA,CONCHUCOS,2020-12-22,2020,12,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
697936,SIS,FEMENINO,78,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-02-10-10-000,PERU,ANCASH,PALLASCA,SANTA ROSA,2020-12-11,2020,12,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
697937,SIS,MASCULINO,1,AÑOS,SOLTERO,NINGUN NIVEL / ILETRADO,92-33-01-04-04-000,PERU,AMAZONAS,LUYA,COLCAMAR,2020-12-23,2020,12,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA

In [13]:
xls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 697937 entries, 1 to 697937
Data columns (total 18 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   TIPO SEGURO             697937 non-null  object
 1   SEXO                    697937 non-null  object
 2   EDAD                    697937 non-null  object
 3   TIEMPO EDAD             697937 non-null  object
 4   ESTADO CIVIL            697937 non-null  object
 5   NIVEL DE INSTRUCCIÓN    697937 non-null  object
 6   COD# UBIGEO DOMICILIO   697937 non-null  object
 7   PAIS DOMICILIO          697937 non-null  object
 8   DEPARTAMENTO DOMICILIO  697937 non-null  object
 9   PROVINCIA DOMICILIO     697937 non-null  object
 10  DISTRITO DOMICILIO      697937 non-null  object
 11  FECHA                   697937 non-null  datetime64[ns]
 12  AÑO                     697937 non-null  int64
 13  MES                     697937 non-null  int64
 14  TIPO LUGAR              697937 non-null  object
 15  INSTITUCION             697937 non-null  object
 16  MUERTE VIOLENTA         697937 non-null  object
 17  NECROPSIA               697937 non-null  object
dtypes: datetime64[ns](1), int64(2), object(15)
memory usage: 101.2+ MB

In [14]:
xls.describe()

                 AÑO            MES
count  697937.000000  697937.000000
mean     2019.314355       5.907390
std         1.358362       3.244948
min      2017.000000       1.000000
25%      2018.000000       3.000000
50%      2020.000000       6.000000
75%      2020.000000       8.000000
max      2021.000000      12.000000

In [15]:
#pd.xls.replace('SIN REGISTRO', np.nan)
xls = xls.rename(columns={"COD# UBIGEO DOMICILIO": "UBIGEO","PAIS DOMICILIO": "PAIS","DEPARTAMENTO DOMICILIO": "DEPARTAMENTO", "PROVINCIA DOMICILIO": "PROVINCIA", "DISTRITO DOMICILIO": "DISTRITO"})

In [16]:
xls

,TIPO SEGURO,SEXO,EDAD,TIEMPO EDAD,ESTADO CIVIL,NIVEL DE INSTRUCCIÓN,UBIGEO,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,FECHA,AÑO,MES,TIPO LUGAR,INSTITUCION,MUERTE VIOLENTA,NECROPSIA
Nº,,,,,,,,,,,,,,,,,,
1,SIS,FEMENINO,15,MINUTOS,SOLTERO,SUPERIOR NO UNIV. COMP.,92-33-12-08-06-000,PERU,LA LIBERTAD,ASCOPE,PAIJAN,2021-01-19,2021,1,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
2,SIS,MASCULINO,4,AÑOS,SOLTERO,IGNORADO,92-33-21-04-01-000,PERU,SAN MARTIN,MARISCAL CACERES,JUANJUI,2020-01-17,2020,1,EESS,GOBIERNO REGIONAL,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
3,SIS,FEMENINO,86,AÑOS,SOLTERO,PRIMARIA INCOMPLETA,92-33-21-03-13-000,PERU,SAN MARTIN,LAMAS,TABALOSOS,2020-01-03,2020,1,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
4,IGNORADO,MASCULINO,59,AÑOS,SOLTERO,IGNORADO,92-33-24-01-01-000,PERU,CALLAO,CALLAO,CALLAO,2021-01-30,2021,1,VIA PUBLICA,SIN REGISTRO,NO SE CONOCE,SI SE REALIZÓ NECROPSIA
5,SIS,MASCULINO,51,AÑOS,SOLTERO,SUPERIOR NO UNIV. COMP.,92-33-14-10-01-106,PERU,LIMA,OYON,OYON,2021-01-10,2021,1,VIA PUBLICA,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697933,SIS,MASCULINO,77,AÑOS,CASADO,NINGUN NIVEL / ILETRADO,92-33-05-07-02-101,PERU,AYACUCHO,VICTOR FAJARDO,ALCAMENCA,2020-12-07,2020,12,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
697934,SIS,FEMENINO,86,AÑOS,SOLTERO,NINGUN NIVEL / ILETRADO,92-33-05-04-03-101,PERU,AYACUCHO,LA MAR,AYNA,2020-12-17,2020,12,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
697935,SIS,MASCULINO,63,AÑOS,SOLTERO,NINGUN NIVEL / ILETRADO,92-33-02-10-03-102,PERU,ANCASH,PALLASCA,CONCHUCOS,2020-12-22,2020,12,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
697936,SIS,FEMENINO,78,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-02-10-10-000,PERU,ANCASH,PALLASCA,SANTA ROSA,2020-12-11,2020,12,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
697937,SIS,MASCULINO,1,AÑOS,SOLTERO,NINGUN NIVEL / ILETRADO,92-33-01-04-04-000,PERU,AMAZONAS,LUYA,COLCAMAR,2020-12-23,2020,12,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA

In [17]:
xls = xls.sort_values(by = 'FECHA')
xls['FECHA'] = pd.to_datetime(xls['FECHA'], errors='coerce', dayfirst=True)
xls['FECHA'] = pd.to_datetime(xls['FECHA'], format='%y-%m-%d', errors='ignore')
xls

,TIPO SEGURO,SEXO,EDAD,TIEMPO EDAD,ESTADO CIVIL,NIVEL DE INSTRUCCIÓN,UBIGEO,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,FECHA,AÑO,MES,TIPO LUGAR,INSTITUCION,MUERTE VIOLENTA,NECROPSIA
Nº,,,,,,,,,,,,,,,,,,
468102,IGNORADO,MASCULINO,65,AÑOS,CASADO,SECUNDARIA COMPLETA,92-33-14-01-03-000,PERU,LIMA,LIMA,ATE,2017-01-01,2017,1,EESS,ESSALUD,SIN REGISTRO,SIN REGISTRO
467989,IGNORADO,MASCULINO,75,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-14-01-41-000,PERU,LIMA,LIMA,VILLA EL SALVADOR,2017-01-01,2017,1,DOMICILIO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO
464393,ESSALUD,MASCULINO,86,AÑOS,CASADO,IGNORADO,92-33-04-01-09-000,PERU,AREQUIPA,AREQUIPA,PAUCARPATA,2017-01-01,2017,1,EESS,ESSALUD,SIN REGISTRO,SIN REGISTRO
466354,OTROS,MASCULINO,38,AÑOS,SOLTERO,SUPERIOR NO UNIV. INC.,92-33-24-01-01-000,PERU,CALLAO,CALLAO,CALLAO,2017-01-01,2017,1,EESS,PRIVADO,SIN REGISTRO,SIN REGISTRO
528757,PRIVADOS,FEMENINO,66,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-15-01-13-000,PERU,LORETO,MAYNAS,SAN JUAN BAUTISTA,2017-01-01,2017,1,EESS,PRIVADO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298502,SIS,FEMENINO,88,AÑOS,CASADO,NINGUN NIVEL / ILETRADO,92-33-04-02-20-000,PERU,AREQUIPA,CAYLLOMA,MAJES,2021-06-16,2021,6,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298504,ESSALUD,MASCULINO,85,AÑOS,VIUDO,IGNORADO,92-33-04-01-01-000,PERU,AREQUIPA,AREQUIPA,AREQUIPA,2021-06-16,2021,6,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298507,ESSALUD,MASCULINO,83,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-12-05-01-000,PERU,LA LIBERTAD,PACASMAYO,SAN PEDRO DE LLOC,2021-06-16,2021,6,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298510,SANIDAD PNP,MASCULINO,74,AÑOS,CASADO,IGNORADO,92-33-04-01-29-000,PERU,AREQUIPA,AREQUIPA,JOSE LUIS BUSTAMANTE Y RIVERO,2021-06-16,2021,6,EESS,SANIDAD DE LA POLICIA NACIONAL DEL PERU,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298368,SIS,MASCULINO,50,AÑOS,SOLTERO,IGNORADO,92-33-25-01-02-000,PERU,UCAYALI,CORONEL PORTILLO,YARINACOCHA,2021-06-16,2021,6,EESS,GOBIERNO REGIONAL,SIN REGISTRO,NO SE REALIZÓ NECROPSIA

In [18]:
xls['FECHA'].replace('SIN REGISTRO', np.nan)
xls['EDAD'].replace('SIN REGISTRO', np.nan)
xls['FECHA'].dropna()
xls['EDAD'].dropna()

Nº
468102    65
467989    75
464393    86
466354    38
528757    66
          ..
298502    88
298504    85
298507    83
298510    74
298368    50
Name: EDAD, Length: 697937, dtype: object

In [19]:
xls

,TIPO SEGURO,SEXO,EDAD,TIEMPO EDAD,ESTADO CIVIL,NIVEL DE INSTRUCCIÓN,UBIGEO,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,FECHA,AÑO,MES,TIPO LUGAR,INSTITUCION,MUERTE VIOLENTA,NECROPSIA
Nº,,,,,,,,,,,,,,,,,,
468102,IGNORADO,MASCULINO,65,AÑOS,CASADO,SECUNDARIA COMPLETA,92-33-14-01-03-000,PERU,LIMA,LIMA,ATE,2017-01-01,2017,1,EESS,ESSALUD,SIN REGISTRO,SIN REGISTRO
467989,IGNORADO,MASCULINO,75,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-14-01-41-000,PERU,LIMA,LIMA,VILLA EL SALVADOR,2017-01-01,2017,1,DOMICILIO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO
464393,ESSALUD,MASCULINO,86,AÑOS,CASADO,IGNORADO,92-33-04-01-09-000,PERU,AREQUIPA,AREQUIPA,PAUCARPATA,2017-01-01,2017,1,EESS,ESSALUD,SIN REGISTRO,SIN REGISTRO
466354,OTROS,MASCULINO,38,AÑOS,SOLTERO,SUPERIOR NO UNIV. INC.,92-33-24-01-01-000,PERU,CALLAO,CALLAO,CALLAO,2017-01-01,2017,1,EESS,PRIVADO,SIN REGISTRO,SIN REGISTRO
528757,PRIVADOS,FEMENINO,66,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-15-01-13-000,PERU,LORETO,MAYNAS,SAN JUAN BAUTISTA,2017-01-01,2017,1,EESS,PRIVADO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298502,SIS,FEMENINO,88,AÑOS,CASADO,NINGUN NIVEL / ILETRADO,92-33-04-02-20-000,PERU,AREQUIPA,CAYLLOMA,MAJES,2021-06-16,2021,6,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298504,ESSALUD,MASCULINO,85,AÑOS,VIUDO,IGNORADO,92-33-04-01-01-000,PERU,AREQUIPA,AREQUIPA,AREQUIPA,2021-06-16,2021,6,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298507,ESSALUD,MASCULINO,83,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-12-05-01-000,PERU,LA LIBERTAD,PACASMAYO,SAN PEDRO DE LLOC,2021-06-16,2021,6,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298510,SANIDAD PNP,MASCULINO,74,AÑOS,CASADO,IGNORADO,92-33-04-01-29-000,PERU,AREQUIPA,AREQUIPA,JOSE LUIS BUSTAMANTE Y RIVERO,2021-06-16,2021,6,EESS,SANIDAD DE LA POLICIA NACIONAL DEL PERU,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298368,SIS,MASCULINO,50,AÑOS,SOLTERO,IGNORADO,92-33-25-01-02-000,PERU,UCAYALI,CORONEL PORTILLO,YARINACOCHA,2021-06-16,2021,6,EESS,GOBIERNO REGIONAL,SIN REGISTRO,NO SE REALIZÓ NECROPSIA

In [35]:
start_date = "2019-01-01"
yesterday = date.today() - timedelta(days=1)
end_date = yesterday.strftime("%Y-%m-%d")
after_start_date = (xls["FECHA"] >= start_date) & (xls["FECHA"] < end_date)
filtered_dates = xls.loc[after_start_date]

xls_edad_anos = filtered_dates[filtered_dates['TIEMPO EDAD']=='AÑOS']
xls_edad_anos

,TIPO SEGURO,SEXO,EDAD,TIEMPO EDAD,ESTADO CIVIL,NIVEL DE INSTRUCCIÓN,UBIGEO,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,FECHA,AÑO,MES,TIPO LUGAR,INSTITUCION,MUERTE VIOLENTA,NECROPSIA
Nº,,,,,,,,,,,,,,,,,,
660397,ESSALUD,MASCULINO,86,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-02-03-17-000,PERU,ANCASH,BOLOGNESI,SAN MIGUEL DE CORPANQUI,2019-01-01,2019,1,EN TRANSITO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
570438,ESSALUD,FEMENINO,56,AÑOS,CASADO,SUPERIOR UNIV. COMP.,92-33-14-01-36-000,PERU,LIMA,LIMA,SAN JUAN DE MIRAFLORES,2019-01-01,2019,1,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
658523,IGNORADO,MASCULINO,79,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-14-01-41-000,PERU,LIMA,LIMA,VILLA EL SALVADOR,2019-01-01,2019,1,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
569605,SIS,FEMENINO,45,AÑOS,CASADO,PRIMARIA INCOMPLETA,92-33-11-01-08-000,PERU,JUNIN,HUANCAYO,CHILCA,2019-01-01,2019,1,DOMICILIO,SIN REGISTRO,NO SE CONOCE,SI SE REALIZÓ NECROPSIA
660294,SIS,MASCULINO,89,AÑOS,CASADO,NINGUN NIVEL / ILETRADO,92-33-05-04-06-000,PERU,AYACUCHO,LA MAR,TAMBO,2019-01-01,2019,1,DOMICILIO,SIN REGISTRO,SIN REGISTRO,SIN REGISTRO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299713,ESSALUD,MASCULINO,83,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-12-01-01-000,PERU,LA LIBERTAD,TRUJILLO,TRUJILLO,2021-06-15,2021,6,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
299717,ESSALUD,MASCULINO,63,AÑOS,SOLTERO,SECUNDARIA COMPLETA,92-33-20-01-01-000,PERU,PUNO,PUNO,PUNO,2021-06-15,2021,6,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
299630,ESSALUD,FEMENINO,54,AÑOS,SOLTERO,SECUNDARIA COMPLETA,92-33-13-01-01-000,PERU,LAMBAYEQUE,CHICLAYO,CHICLAYO,2021-06-15,2021,6,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
299718,SIS,MASCULINO,67,AÑOS,CASADO,SECUNDARIA COMPLETA,92-33-14-01-43-000,PERU,LIMA,LIMA,SANTA ANITA,2021-06-15,2021,6,EESS,MINSA,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
299728,PRIVADOS,MASCULINO,81,AÑOS,SOLTERO,IGNORADO,92-33-04-02-01-000,PERU,AREQUIPA,CAYLLOMA,CHIVAY,2021-06-15,2021,6,EESS,PRIVADO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA

In [21]:
xls_edad_anos.EDAD = pd.to_numeric(xls_edad_anos.EDAD, errors='coerce')
xls_edad_anos
#xls_edad_anos['EDAD'].astype(str).astype(int)
#xls_edad_anos['EDAD']

/home/annaabsi/.local/lib/python3.8/site-packages/pandas/core/generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

,TIPO SEGURO,SEXO,EDAD,TIEMPO EDAD,ESTADO CIVIL,NIVEL DE INSTRUCCIÓN,UBIGEO,PAIS,DEPARTAMENTO,PROVINCIA,DISTRITO,FECHA,AÑO,MES,TIPO LUGAR,INSTITUCION,MUERTE VIOLENTA,NECROPSIA
Nº,,,,,,,,,,,,,,,,,,
570183,ESSALUD,FEMENINO,83,AÑOS,SOLTERO,SUPERIOR UNIV. COMP.,92-33-14-01-32-000,PERU,LIMA,LIMA,VILLA MARIA DEL TRIUNFO,2019-01-02,2019,1,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
659986,SIS,MASCULINO,81,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-11-07-07-000,PERU,JUNIN,SATIPO,RIO NEGRO,2019-01-02,2019,1,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
570154,ESSALUD,FEMENINO,60,AÑOS,SOLTERO,NINGUN NIVEL / ILETRADO,92-33-24-01-06-000,PERU,CALLAO,CALLAO,VENTANILLA,2019-01-02,2019,1,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
658488,IGNORADO,MASCULINO,73,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-14-01-13-000,PERU,LIMA,LIMA,LURIN,2019-01-02,2019,1,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
570277,SIS,FEMENINO,95,AÑOS,CASADO,IGNORADO,92-33-14-01-26-000,PERU,LIMA,LIMA,SAN MARTIN DE PORRES,2019-01-02,2019,1,EESS,MINSA,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298502,SIS,FEMENINO,88,AÑOS,CASADO,NINGUN NIVEL / ILETRADO,92-33-04-02-20-000,PERU,AREQUIPA,CAYLLOMA,MAJES,2021-06-16,2021,6,DOMICILIO,SIN REGISTRO,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298504,ESSALUD,MASCULINO,85,AÑOS,VIUDO,IGNORADO,92-33-04-01-01-000,PERU,AREQUIPA,AREQUIPA,AREQUIPA,2021-06-16,2021,6,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298507,ESSALUD,MASCULINO,83,AÑOS,CASADO,PRIMARIA COMPLETA,92-33-12-05-01-000,PERU,LA LIBERTAD,PACASMAYO,SAN PEDRO DE LLOC,2021-06-16,2021,6,EESS,ESSALUD,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298510,SANIDAD PNP,MASCULINO,74,AÑOS,CASADO,IGNORADO,92-33-04-01-29-000,PERU,AREQUIPA,AREQUIPA,JOSE LUIS BUSTAMANTE Y RIVERO,2021-06-16,2021,6,EESS,SANIDAD DE LA POLICIA NACIONAL DEL PERU,SIN REGISTRO,NO SE REALIZÓ NECROPSIA
298368,SIS,MASCULINO,50,AÑOS,SOLTERO,IGNORADO,92-33-25-01-02-000,PERU,UCAYALI,CORONEL PORTILLO,YARINACOCHA,2021-06-16,2021,6,EESS,GOBIERNO REGIONAL,SIN REGISTRO,NO SE REALIZÓ NECROPSIA

In [22]:
#bins = [17, 59, 69, 79, 130]

#rs = pd.cut(xls_edad_anos['EDAD'], bins)
#rs

df_total = xls_edad_anos.groupby(['FECHA', 'AÑO']).size().unstack()
df_total = df_total.rename(columns=str).reset_index()
# df.drop(columns=df.columns[0], 
#         axis=1, 
#         inplace=True)
df_total

AÑO      FECHA   2019  2020   2021
0   2019-01-02  306.0   NaN    NaN
1   2019-01-03  314.0   NaN    NaN
2   2019-01-04  290.0   NaN    NaN
3   2019-01-05  303.0   NaN    NaN
4   2019-01-06  314.0   NaN    NaN
..         ...    ...   ...    ...
892 2021-06-12    NaN   NaN  567.0
893 2021-06-13    NaN   NaN  606.0
894 2021-06-14    NaN   NaN  576.0
895 2021-06-15    NaN   NaN  590.0
896 2021-06-16    NaN   NaN  322.0

[897 rows x 4 columns]

In [24]:
bins = [17, 59, 69, 79, 130]

rs = pd.cut(xls_edad_anos['EDAD'], bins)
#rs

df = xls_edad_anos.groupby(['FECHA', rs]).size().unstack()
df = df.rename(columns=str).reset_index()
# df.drop(columns=df.columns[0], 
#         axis=1, 
#         inplace=True)
df = df.rename(columns={'(17, 59]': '18-59', '(59, 69]': '60-69', '(69, 79]': '70-79', '(79, 130]' : '80+'})
df

EDAD      FECHA  18-59  60-69  70-79  80+
0    2019-01-02     85     44     64  103
1    2019-01-03     83     35     62  123
2    2019-01-04     69     36     66  110
3    2019-01-05     77     46     58  118
4    2019-01-06     89     52     59  100
..          ...    ...    ...    ...  ...
892  2021-06-12    158    110    123  167
893  2021-06-13    188    119    109  177
894  2021-06-14    162    121    129  156
895  2021-06-15    162    127    133  162
896  2021-06-16     76     76     74   93

[897 rows x 5 columns]

In [26]:
bins = [0, 18, 59, 69, 80, 130]

rs = pd.cut(xls_edad_anos['EDAD'], bins)
#rs

df_anos = xls_edad_anos.groupby(['FECHA',rs]).size().unstack()
df_anos = df_anos.rename(columns=str).reset_index()
df_anos

EDAD      FECHA  (0, 18]  (18, 59]  (59, 69]  (69, 80]  (80, 130]
0    2019-01-02       10        85        44        75         92
1    2019-01-03       13        81        35        69        116
2    2019-01-04       10        68        36        73        103
3    2019-01-05        4        77        46        62        114
4    2019-01-06       17        86        52        64         95
..          ...      ...       ...       ...       ...        ...
892  2021-06-12       11       156       110       132        158
893  2021-06-13       15       186       119       121        165
894  2021-06-14        9       161       121       141        144
895  2021-06-15        6       162       127       142        153
896  2021-06-16        3        76        76        82         85

[897 rows x 6 columns]